---
title: Installing and Configuring GCP Stackdriver Nozzle for PCF
owner: Partners
---

This topic describes how to install and configure GCP Stackdriver Nozzle for Pivotal Cloud Foundry (PCF).

##<a id='prepare-gcp'></a> Prepare a GCP Project

The GCP Stackdriver Nozzle for PCF requires that you have a GCP project with a specific configuration. Follow the steps below the prepare a GCP project.

###<a id='create-gcp'></a> Create the Project

Follow these steps to create a GCP project for Stackdriver Nozzle.

1. In a browser, navigate to the [GCP Console](https://console.cloud.google.com). 
   If you do not have an account, create one.

1. From the GCP console, click the project drop-down menu between the GCP logo and the search bar and select **Create Project**.

1. Enter a project name and click **Create**.

###<a id='setup-gcp-apis'></a> Enable APIs for your Project

Follow these steps to enable the APIs required by Stackdriver Nozzle. 

1. Navigate to the [Stackdriver Logging API](https://console.developers.google.com/apis/api/logging.googleapis.com/overview) page and click **Enable API**.

1. Navigate to the [Stackdriver Monitoring API](https://console.developers.google.com/apis/api/monitoring.googleapis.com/overview) page and click **Enable API**.

###<a id='create-gcp-sa'></a> Create a Service Account

Follow these steps to create a GCP Service Account for Stackdriver Nozzle.

1. In GCP console, open the **Products and services** menu above the home icon and select **IAM & Admin** > **Service accounts**.

1. Click **Create Service Account**.

1. Enter a **Service account name**.

1. From the Role drop-down menu on the right, select **Logging** > **Logs Configuration Writer, **Logging** > **Logs Writer**, and **Project** > **Editor**. Then click **Save**.

  <%= image_tag("images/create-service-account.png") %>

1. Select the checkbox to **Furnish a new Private Key**, and click **Create**.

1. Save the automatically downloaded key file to a secure location for use later in this topic.

##<a id='uaa-user'></a> Create a UAA user account

1. Create a UAA user with access to the following groups:
  - `doppler.firehose`
  - `cloud_controller.admin_read_only`

The following commands will create a new UAA user. For information on creating a UAA user see the guide on [Creating and Managing Users with the UAA CLI](https://docs.cloudfoundry.org/adminguide/uaa-user-management.html). 

```
uaac target https://uaa.[system domain url]
uaac token client get admin -s [admin client credentials secret]
uaac -t user add stackdriver-nozzle --password [randomly generate a password here] --emails na
uaac -t member add cloud_controller.admin_read_only stackdriver-nozzle
uaac -t member add doppler.firehose stackdriver-nozzle
```

##<a id='install'></a> Install GCP Stackdriver Nozzle for PCF in Ops Manager

###<a id='opsman-import'></a> Import to Ops Manager

Follow these steps to download the product file and add it to your Ops Manager Installation Dashboard. 

1. Download the product file from [Pivotal Network](https://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click **Add** next to the uploaded GCP Stackdriver Nozzle for PCF tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added **GCP Stackdriver Nozzle for PCF** tile.

1. Follow the instructions in the next section to complete each tile configuration pane.

###<a id='opsman-config'></a> Configure 

Complete the following fields to configure GCP Stackdriver Nozzle for PCF.

1. **Cloud Foundry API Endpoint**: Enter the URL of the API endpoint for your PCF deployment. This value is `https://api.YOUR-SYSYTEM-DOMAIN`. To find out your system domain, see the **Domains** pane in the Elastic Runtime tile. For an example, see [Step 5: Configure Domains](http://docs.pivotal.io/pivotalcf/customizing/cloudform-er-config.html#er-domain-config) in the _Deploying Elastic Runtime on AWS_ topic. 

1. **Events to Subscribe to**: Enter a comma separated list, without spaces, of the Loggregator events you want to ingest into Stackdriver.

1. **UAA Username/UAA Password**: Enter the username and password for the account you created in <a href="#uaa-user">Create a UAA Admin User</a> above.

1. **Skip SSL validation on Cloud Foundry API Endpoint**: For a production environment, set to `false`. For a development environment, you can set to `true`.

1. **Service Account Credentials**: Paste in the contents of your service account private key from <a href="#create-gcp-sa">Set up a Service Account</a> above. 

1. **Google Project ID**: Enter the Project ID for the GCP project you created in [Create a GCP Project](#create-gcp). To view your Project ID, click the project drop-down menu between the GCP logo and the search bar and select your project.

