---
title: GCP Stackdriver Nozzle for PCF Release Notes
owner: Partners
---

##<a id="001"></a>v0.0.1

**Release Date:** January 24, 2017

This is the initial release of GCP Stackdriver Nozzle for PCF. See the [GCP Stackdriver Nozzle for PCF (Beta)](./index.html) topic for more information.
