---
title: GCP Stackdriver Nozzle for PCF Release Notes
owner: Partners
---

##<a id="106"></a>v2.0.1

**Release Date:** February 23, 2018

This release of introduces significant breaking changes for users. These changes provide improved metrics functionality
but require the operator to reset aspects of their project and potentially change how the nozzle is deployed.
This will result in irreversible historical data loss and the need to recreate dashboards.
It is critical that operators follow the [upgrade instructions](upgrading.html).

- Deduplicated process metrics sent from various Cloud Foundry jobs
- Prepend event origin to metric names, reduce number and improve consistency of labels, provide instance index as a metric label
- Add configuration for Stackdriver Nozzle metrics buffer size
- Add configuration for Stackdriver Nozzle logging buffer size and debugging options
- Support for PCF 2.0
- Restrict the Stackdriver Nozzle to running as a single instance
- Provide whitelist/blacklist feature for metrics with a default set for tile users
- Provide per-app HTTP metrics derived from HttpStartStop events
- Report CounterEvents as cumulative metrics
- Provide a foundation label for all metrics and logs
- Overhaul telemetry collection for metrics related to the Stackdriver Nozzle
- Perform metrics culling based on timestamp
- Allow users to send any event to Stackdriver Logging
- Improvements to Stackdriver Nozzle reliability, performance
- Fixed an issue where the Firehose max connection retry limit exceeding caused the Stackdriver Nozzle to hang
- Fixed an issue where an error from Firehose caused the Stackdriver Nozzle to hang
- Fixed an issue where the Stackdriver Nozzle would crash when authentication tokens from Cloud Foundry went stale
- Fixed an issue where the Stackdriver Nozzle would send over 200 time series in a single metrics request

##<a id="106"></a>v1.0.6

**Release Date:** August 26, 2017

- All events can now be sent to Stackdriver Logging.
  Previously any metric from Cloud Foundry was sent to Stackdriver Monitoring.
  The single **Events to Subscribe to** field in Ops Manager has been split into two whitelists
  for Stackdriver Monitoring and Stackdriver Logging.
  Users who have customized the default events need to re-evaluate and configure which events they want to capture.


##<a id="105"></a>v1.0.5

**Release Date:** August 15, 2017

- Removed requirement for specifying a UAA username/password.
  These steps can be skipped in Elastic Runtime v1.9.29+, v1.10.16+, and v1.11.2+ where a user is provisioned automatically for the nozzle.


##<a id="102"></a>v1.0.2

**Release Date:** April 5, 2017

- Fixed issue with RST\_STREAM errors when writing a high volume of metrics
- Documentation now includes requirement of **Project** > **Editor** for the nozzle service account.
  This is required to configure metric descriptors in Stackdriver.
- Default instance count has changed from 1 to 2 to allow for zero downtime updates and higher availability.
- Fixed issue where GCP Project ID was not handled correctly in tile configuration
  which affected users writing to a different GCP Project than their service account originated in.
- Metric labels now include instance name.
- Fixed issue shutting down the nozzle when a fatal error occurred which resulted in a hang attempting to drain the metrics buffer
- Removed firehose-to-syslog and boltdb dependencies. Nozzle now caches app metadata in memory.
- Credentials are now passed directly to the nozzle instead of through system wide application default credentials.

##<a id="001"></a>v0.0.1

**Release Date:** January 24, 2017

This is the initial release of GCP Stackdriver Nozzle for PCF. 
