---
title: Using GCP Stackdriver Nozzle for PCF
owner: Partners
---

This topic describes how to use GCP Stackdriver Nozzle for PCF.

##<a id='using'></a> Using GCP Stackdriver Nozzle for PCF

With the Nozzle deployed all of your Cloud Foundry logs and metrics will be avaliable in [Stackdriver Logging](https://pantheon.corp.google.com/logs/viewer) and [Stackdriver Monitoring](https://pantheon.corp.google.com/monitoring).

##<a id='logging'></a> Logging
To view streaming logs from Cloud Foundry:

1. Navigate to the [Stackdriver Log Viewer](https://pantheon.corp.google.com/logs/viewer) for your GCP Project. 

1. Select the 'Global' resource and click on the Play button.

1. You should see logs streaming from your Cloud Foundry deployment.

##<a id='monitoring'></a> Monnitoring
To create your first chart in Stackdriver Monitoring:

1. Navigate to the [Stackdriver Monitoring Console](https://pantheon.corp.google.com/monitoring) for your GCP project. 

1. Go to Dashboards > Create Dashboard 

1. Click on Add Chart

1. Select Custom Metrics under Resource Type

1. Choose a Metric Type and click Save.

1. You should see your first chart of your Cloud Foundry metrics.
